<nav>
  <div class="container">
    <a href="/" class="logo"><img src="/images/Camp.png" alt="" /></a>
    <div class="menu">
      <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/kocamps">캠프그라운드</a></li>
        <% if (!isAuthenticated) { %>
        <li>
          <a href="/login"><button class="nav-btn">로그인</button></a>
        </li>
        <% } else { %>
        <li>
          <a href="/logout"><button class="nav-btn">로그아웃</button></a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
