html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img,
strong, b, u, i, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

label {
	display: block;
	margin-bottom: 8px;
}

textarea {
	width: 95%;
	height: 80px;
	resize: none;
	border: 1px solid hsla(291, 17%, 8%, 0.3);
	border-radius: 4px;
	padding: 12px 16px;
}

.map {
	width: 100%;
	height: 300px;
	border-radius: 8px 8px 0 0;
}

.camp-card .map .mapboxgl-popup-close-button,
.mapboxgl-popup-content button {
	padding: 0px 4px;
	background-color: rgb(226, 226, 226);
}

.map .mapboxgl-popup-content a h3 {
	font-size: 14px;
	font-weight: 600;
}

.login-container div.img{
	width: 100%;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}

.login-container img {
	width: 100%;
}

.login-form-container {
	background: #fff;
	color: #171118;
	border-radius: 8px;
	margin: 0 auto;
	width: 50%;
}

.login-form-container h3 {
	font-size: 36px;
}

.login-form-container form {
	margin-top: 20px;
	
}

.login-form-container form > div input {
	width: 93%;
	margin-bottom: 12px;
}

.login-form-container form > div:nth-child(2) input,
.register-form form > div:nth-child(3) input {
	margin-bottom: 36px;
}

.login-form-container button {
	width: 100%;
	background-color: #F4252C;
}

.login-form,
.register-form {
	padding: 28px;
}

.register-form form > div:nth-child(2) input {
	margin-bottom: 12px;
}

.camp-card .mapboxgl-popup-content,
div.map .mapboxgl-popup-content {
	padding: 12px 24px;
}

.mapboxgl-popup-content a {
	color: black;
}

#marker {
	/* background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
	background-size: cover; */
	color: #3FB1CE;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.block {
	display: block;
}

.mb {
	margin-bottom: 40px;
}

.font-black {
	color: #171118;
}

.btn-white {
	background-color: #fff;
}

.btn-red {
	background-color: #F4252C;
}

.btn-ghost {
	border: 1px solid #F4252C;
	background-color: transparent;
}

.btn-ghost:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.text-center {
	text-align: center;
}

.caption {
	font-size: 14px;
	font-weight: 300;
	color: hsla(291, 17%, 8%, 0.7);
}

body {
	font-family: 'Noto Sans Korean', Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #120B13;
	color: #fff;
	-ms-overflow-style: none;
}
 
::-webkit-scrollbar {
  display: none;
}


h1 {
	font-family: 'Noto Serif KR', Serif;
	font-size: 64px;
	font-weight: 600;
}

h2 {
	font-family: 'Noto Serif KR', Serif;
	font-size: 56px;
	font-weight: 600;
	margin: 12px 0 24px 0;
}

nav {
	margin-top: 16px;
	padding: 0 60px;
}

section {
	padding: 80px 60px;
	overflow: hidden;
}

footer {
	background-color: #171118;
	padding: 40px;
	margin-top: 120px;
}

button {
	color: #fff;
	font-size: 16px;
	padding: 16px 44px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.1);
}

input {
	width: 95%;
	padding: 12px 16px;
	border: 1px solid hsla(291, 17%, 8%, 0.3);
	border-radius: 4px;
	/* box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.1); */
}


div.container {
	max-width: 1160px;
	margin: 0 auto;
}

nav div.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a.logo {
	height: 30px;
}

a.logo img {
	width: 100%;
}

.menu ul {
	font-size: 16px;
	display: flex;
	align-items: center;
}

.menu ul li,
.menu ul li:not(:last-child) a {
	padding: 16px 0;
}

.menu ul li:not(:last-child) {
	margin-right: 44px;
}

nav.index-nav {
	padding: 0;
}

.nav-btn {
	background-color: #F4252C;
}

.nav-btn:hover,
.index-content button:nth-of-type(1):hover {
	background-color: hsla(358, 90%, 55%, 0.8);
}

.index-section {
	/* position: relative; */
	background: radial-gradient(68.33% 165.61% at 20.52% 74.59%, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.055) 100%), url("/images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 60px;
	height: 925px;
}

.index-content {
	margin-top: 200px;
	width: 565px;
}

.index-content h1,
.index-content p,
.second-section h2 {
	margin-bottom: 16px;
}

.index-content p {
	line-height: 30px;
	width: 406px;
}

.index-content button:not(:last-child) {
	margin-right: 4px;
}

.flexbox {
	display: flex;
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.second-section,
.third-section {
	text-align: center;
	margin-top: 40px;
}

.second-images {
	margin-top: 80px;
}

.second-images img {
	width: 367px;
	border-radius: 8px;
	box-shadow: 0px 15px 35px #000000;
}

.second-images img:not(:last-child) {
	margin-right: 30px;
}

section.third-section {
	background-color: #171118;
}

div.third-section,
div.last-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.third-section-desc {
	width: 60%;
}

.third-section-images {
	width: 40%;
}

.last-section-desc {
	text-align: center;
}

.new-form div,
.camp-card-reviews h3,
.last-section-desc p {
	margin-bottom: 20px;
}

/* index.ejs */

div.card {
	width: 367px;
	background-color: #fff;
	color: black;
	border-radius: 8px;
}

.card-image img {
	width: 100%;
	border-radius: 8px 8px 0 0;
}

.card-bottom {
	padding: 4px 0 16px 0;
}

.card-bottom h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 4px;
}

.card-bottom p {
	font-size: 16px;
	font-weight: 300;
}

.mt-60 {
	margin-top: 60px;
}

.camp-card-container {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.camp-card {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 800px;
	border-radius: 8px;
	background-color: #eee;
	color: #171118;
}

.camp-card:nth-of-type(1){
	margin-right: 20px;
}

.camp-card h3 {
	font-family: 'Noto Sans Korean', sans-serif;
	font-weight: 600;
}

.camp-card-image img{
	border-radius: 8px 8px 0 0;
	width: 100%;
}

.camp-card-desc,
.camp-card-reviews {
	padding: 40px 28px 20px 28px;
}

.border {
	border: 1px solid #171118;
	border-radius: 8px;
	width: 100%;
	margin: 0 auto;
}

.camp-card-desc h3 {
	font-size: 40px;	
}

.camp-card-desc .caption {
	margin-top: 4px;
	margin-bottom: 16px;
}

.camp-card-desc .caption:nth-of-type(2) {
	margin: 0;
}

.camp-card-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 68px;
}

.camp-card-buttons > a {
	margin-left: 4px;
	line-height: 1;
	color: #171118;
}

.camp-card-buttons-left button {
	width: 120px;
	height: 50px;
	line-height: 1;
	/* background-color: #171118; */
}

.camp-card-buttons-left a {
	margin-right: 8px;
}

.camp-card-buttons-left {
	 display: flex;
}

/* .camp-card:nth-of-type(2) {
	margin-top: 40px;
} */

.camp-card:nth-of-type(2) h3 {
	font-size: 28px;
}

.camp-card-review {
	/* display: flex;
	justify-content: space-between;
	align-items: center; */
	padding: 16px 24px;
	margin-bottom: 8px;
	text-align: left;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.3);
}

.camp-card-review h4 {
	font-size: 20px;
	font-weight: 500;
}

.camp-card-review form {
	margin-top: 20px;
}

.new-form {
	background-color: #fff;
	border-radius: 8px;
	padding: 40px 28px;
}

.new-form h3 {
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 20px;
}

@media screen and (max-width: 1365px) {
	section {
		padding: 20px 60px;
	}

	h2 {
		width: 400px;
		margin: 0 auto 16px auto;
	}
	footer {
		padding: 40px 60px;
	}

	div.card,
	.third-section-desc,
	.login-form-container {
		width: 100%;
	}

	.third-section-desc {
		text-align: center;
		margin-bottom: 20px;
	}

	.third-section-desc h2 {
		width: 100%;
	}

	.third-section-images {
		width: 100%;
	}
	
	.third-section-images img {
		width: 100%;
	}

	.last-section {
		margin-top: 20px;
	}

	.last-section-desc {
		margin-top: 28px;
	}

	.login-form-container form > div input {
		width: 94%;
	}

	.menu ul {
		font-size: 20px;
	}

	.flexbox {
		display: block;
		/* margin-bottom: 8px; */
	}

	.flex-wrap {
		flex-wrap: nowrap;
	}

	.space-between {
		justify-content: start;
	}

	.camp-card-container,
	div.third-section,
	div.last-section {
		display: block;
	}

	.camp-card-container .left {
		margin-right: 0;
		margin-bottom: 24px;
	}

	.mb {
		margin-bottom: 24px;
	}

	.second-images img {
		width: 100%;
		margin: 0 0 20px 0;
	}

	.menu ul li:not(:last-child) {
		margin-right: 16px;
	}
}

@media screen and (max-width: 767px) {
	section,
	section.index-section,
	nav {
		padding: 0 20px;
	}

	footer {
		padding: 20px;
		margin-top: 40px;
	}

	a.logo {
		width: 20vw;
	}

	.menu ul {
		font-size: 14px;
	}

	.index-content {
		width: 100%;
		text-align: center;
	}

	.index-content p,
	.second-section p,
	.third-section p,
	.last-section p {
		width: 100%;
		line-height: 24px;
	}

	button {
		font-size: 14px;
		padding: 12px 28px;
	}

	div.card {
		width: 100%;
	}

	h1 {
		font-size: 36px;
		font-weight: 600;
	}

	h2 {
		font-size: 32px;
		width: 100%;
	}

	.camp-card-review h4 {
		font-size: 16px;
	}

	.new-form {
		text-align: center;
	}

	.new-form h3 {
		font-size: 24px;
	}

	.login-form-container form > div input,
	.new-form input,
	.new-form textarea {
		width: 87%;
	}

	.login-form-container h3 {
		font-size: 24px;
	}

	.camp-card:nth-of-type(2) h3 {
		font-size: 20px;
	}

	.camp-card-buttons {
		flex-wrap: wrap;
	}

	.camp-card-buttons > a {
		margin-left: 0px;
		margin-top: 12px;
	}

	.camp-card-buttons > a button {
		width: 120px;
	}

	.camp-card-reviews textarea {
		width: 87%;
		margin-bottom: 12px;
	}

	.last-section-images img {
		width: 100%;
	}

	footer .text-muted {
		font-size: 14px;
	}

	label {
		font-size: 14px;
	}

	p {
		font-size: 14px;
	}
}