<% layout('layouts/boilerplate.ejs') %>
<section>
  <div class="container login-container">
    <div class="login-form-container">
      <div class="img">
        <img
          src="https://images.unsplash.com/photo-1594495894542-a46cc73e081a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
          alt=""
        />
      </div>
      <div class="register-form">
        <h3>회원가입</h3>
        <form action="/register" method="POST">
          <div>
            <label for="username">아이디</label>
            <input type="text" name="username" id="username" />
          </div>
          <div>
            <label for="email">이메일</label>
            <input type="email" name="email" id="email" />
          </div>
          <div>
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password" />
          </div>
          <button>로그인</button>
        </form>
      </div>
    </div>
  </div>
</section>
