<% layout('layouts/boilerplate.ejs') %>
<section>
  <div class="container">
    <div class="new-form font-black">
      <h3>새로운 캠핑장 등록하기</h3>
      <form action="/kocamps" method="POST" enctype="multipart/form-data">
        <div>
          <label for="title">캠핑장 이름</label>
          <input type="text" id="title" name="kocamp[title]" />
        </div>
        <div>
          <label for="location">위치(우편번호, 구, 시)</label>
          <input type="text" id="location" name="kocamp[location]" />
        </div>
        <div>
          <label for="image">이미지</label>
          <input type="file" name="kocamp[image]" id="" />
        </div>
        <!-- <div>
        <label for="image">사진</label>
        <input type="text" id="image" name="kocamp[image]" />
      </div> -->
        <div>
          <label for="price">가격</label>
          <input type="text" id="price" name="kocamp[price]" />
        </div>
        <div>
          <label for="description">캠핑장 설명</label>
          <textarea name="kocamp[description]" id="description" cols="30" rows="10"></textarea>
        </div>
        <button class="btn-red">새로운 캠핑장 추가</button>
      </form>
      <a href="/kocamps">캠핑장 목록</a>
    </div>
  </div>
</section>
